.navbar {
    padding-bottom: 1rem;
}

.columns {
    padding: 2rem 2rem 0rem 2rem;
}

.label-orange {
    background-color: #FE8928;
    color: #FFFFFF;
}

.label-blue {
    background-color: #2C6AF2;
    color: #FFFFFF;
}

.label-green {
    background-color: #329626;
    color: #FFFFFF;
}

.label-dark {
    background-color: #686A6F;
    color: #FFFFFF;
}

.label-red {
    background-color: #CC0000;
    color: #FFFFFF;
}

.label-taupe {
    background-color: #A8937E;
    color: #FFFFFF;
}
.label-light-blue {
    background-color: #71CEFF;
    color: #FFFFFF;
}