---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
    {% if post.external_link %}
      <a href="{{ post.external_link }}">{% include link-icon.html %}</a>
    {% endif %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}

  <p>Find more posts in the <a href="{{ site.baseurl }}/2020/01/19/virgo-wallpaper-generator/">archive</a>.</p>
  <hr />
</div>
