img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
}

.post-title {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 800;
}