  <!-- Open Graph markup for link previews -->
  <meta name="author" content="Nicky Marino"/>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% if post %}
  <meta property="og:type" content="article" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}"/>
{% endif %}
{% if page.cover_image %}
  <meta property="og:image" content="{{ site.url }}/public/assets/{{ page.cover_image }}" />
{% else %}
  <meta property="og:image" content="{{ site.url }}/public/assets/default-banner.png" />
{% endif %}

  <!-- Twitter Card markup -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
{% endif %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
{% if page.cover_image %}
  <meta name="twitter:image" content="{{ site.url }}/public/assets/{{ page.cover_image }}" />
{% else %}
  <meta property="twitter:image" content="{{ site.url }}/public/assets/default-banner.png" />
{% endif %}