@import "theme";

@import "alert";
@import "container";
@import "footer";
@import "highlight";
@import "masthead";
@import "post";

html {
  font-family: $font-stack-body;
}

body {
    font-family: $font-stack-body;
    color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    font-family: $font-stack-headings;
    color: $color-text;
    text-rendering: optimizeLegibility;
}

.lead {
  font-family: $font-stack-headings;
}

sup .footnote {
  // No link underlining for footnote numbers
  border-bottom: none;
}

// Horizontal center
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $color-quote-text;
  border-left: .25rem solid $color-quote-border;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Images */

// Better emoji support
img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

/* Wrap
 *
 * Size the masthead and container together
 */

.wrap {
  max-width: 28rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

// Mobile screen sizes
@media (min-width: 38em) {
  .wrap {
    max-width: 32rem;
  }
}
// Medium (tablet) screen sizes
@media (min-width: 56em) {
  .wrap {
    max-width: 38rem;
  }
}
// Desktop screen sizes
@media (min-width: 100em) {
  .wrap {
    max-width: 46rem;
  }
}