@import "theme";

@import "alert";
@import "container";
@import "post";
@import "masthead";

html {
  font-family: $font-stack-body;
}

body {
    font-family: $font-stack-body;
    color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    font-family: $font-stack-headings;
    color: $color-text;
    text-rendering: optimizeLegibility;
}

.lead {
  font-family: $font-stack-headings;
}

// Better emoji support
img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
}

// Horizontally center images
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Wrap
//
// Size the masthead and container together

.wrap {
  max-width: 28rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 38em) {
  .wrap {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .wrap {
    max-width: 38rem;
  }
}
