@import "theme";
@import "mixins";

// Raise the top of the container to meet the header
.container {
    margin-top: -1rem;
    margin-bottom: -1rem;

    // Set flex constraints for sticky footer
    flex: 1 0 auto;
}

// Links

.container a,
.container a code {
    @include default-link-style;
}

// Code

.container code,
.container pre {
    font-family: $font-stack-mono;
}
.container code {
    color: $color-code;
}

.container code.highlighter-rouge {
    // ONLY inline code directly has the highlighter-rouge class
    background: $color-background-light;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    padding-left: 4px;
}
