@import "theme";

// Links

.container a,
.container a:visited {
    color: $color-link-text;
    text-decoration: none;
    border-bottom: 2px solid $color-link-line;
}

.container a:hover,
.container a:focus {
    color: $color-text;
    border-bottom: 2px solid $color-primary;
}

// Code

.container code,
.container pre {
    font-family: $font-stack-mono;
}
.container code {
    color: $color-code;
    background-color: $color-code-background;
    border-radius: 3px;
}
