@import "theme";
@import "mixins";

.footer {
    a {
        color: $color-primary;
        font-size: 0.9em;

        // Use the default link style, but with
        // a lighter color and no underlining
        @include default-link-style;
        border-bottom: none;

        // But still underline when highlighted
        &:hover, &:focus, &:active {
            @include default-link-style;
        }
    }

    // Flex box
    display: flex;
    justify-content: space-evenly;

    border-top: 1px solid $color-lighter;
    padding-top: 20px;
    padding-bottom: 30px;
}
