@import "theme";
@import "mixins";

.footer {
    // Vertical flex box for sticky footer
    flex-shrink: 0;

    // Horizontal flex box for links
    display: flex;
    justify-content: space-evenly;

    border-top: 2px solid $color-secondary;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    a {
        color: $color-primary;
        font-size: 0.9em;

        @include reset-link-style;

        // Still underline when highlighted
        &:hover, &:focus, &:active {
            @include default-link-style;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }
}
