@import "theme";
@import "mixins";

.masthead {
    font-family: $font-stack-headings;
    padding-top:    1rem;
    padding-bottom: 2rem;

    border-bottom: 2px solid $color-secondary;
}

// No decoration for any header links
.masthead a {
    @include default-link-style;
    text-decoration: none;
}

.masthead-title {
    line-height: inherit;
    float: left;
}

.masthead-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: .25em; // Align with masthead title
    float: right;

    $separator-padding: 8px;

    li {
        float: left;
        padding-left: $separator-padding;
        padding-right: $separator-padding + $nav-separator-thickness;
        border-right: $nav-separator-thickness solid $color-link-line;
    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child {
        padding-right: 0;
        border-right: 0;
    }
}
