@import "theme";

@mixin default-link-style {
    color: $color-link-text;
    text-decoration: underline;
    text-decoration-color: $color-link-line;
    text-decoration-thickness: 2px;
}

@mixin reset-link-style {
    text-decoration: none;
}