@import "theme";
@import "typography";
@import "mixins";

.post-title {
    @include typography-headline1;
    font-weight: 700;

    h1 {
        padding-bottom: -10px;
    }

    a {
        @include reset-link-style;
    }
}

.post-date {
    @include typography-subtitle1;
    letter-spacing: -0.01em;
    color: $color-post-date;
}
