// Theme colors
$color-background: white;
$color-primary: black;  
$color-secondary: #fcd731;
$color-light: #9a9a9a;

// Map theme to site elements
$color-text: $color-primary;
$color-link-text: $color-primary; 
$color-link-line: $color-secondary;

$color-post-date: $color-light;

$color-alert-background: #fff3cd;
$color-alert-border: #ffeeba;
$color-alert-content: #b3890b;