/* Theme elements */

//// Thicknesses ////
// Standard thickness for accents such as link
// underlining and navbar separators
$accent-thickness: 2px;
// Navbar thickness
$nav-separator-thickness: 0;

//// Colors ////
// Material dark theme: https://material.io/design/color/dark-theme.html#ui-application
$color-background: #121212;
$color-on-background: rgba(#FFFFFF, 0.87);
$color-primary: #FFD54F;

// Posts
$color-background-light: rgba(white, 0.12);  // Material 08dp white overlay
$color-post-date: rgba($color-on-background, 0.6);  // Material medium emphasis color: 60% opacity

// Alerts
$color-alert-background: $color-background;
$color-alert-border: $color-post-date;
$color-alert-content: $color-post-date;

// Base
$color-text: $color-on-background;

// Links
$link-underline-thickness: $accent-thickness;
$color-link-text: $color-on-background;
$color-link-line: $color-primary;

// Quotes
$color-quote-text: $color-post-date;
$color-quote-border: $color-background-light;

// Code
$color-code: $color-on-background;
$color-code-background: $color-background-light;
