/* Theme elements */

//// Fonts ////
$font-stack-headings: 'Lora', Palatino, serif;
$font-stack-body: $font-stack-headings;
$font-stack-mono: Menlo, Monaco, 'Lucida Sans Typewriter', monospace;

//// Thicknesses ////
// Standard thickness for accents such as link
// underlining and navbar separators
$accent-thickness: 2px;
// Navbar thickness
$nav-separator-thickness: 0;

//// Colors ////
// https://coolors.co/131516-de4d86-fea82f-d8ddde-008dd5
$color-background: #131516;
$color-primary: #D8DDDE;
$color-secondary: #FEA82F;

// Posts
$color-background-light: lighten($color-background, 12%);
$color-post-date: lighten($color-background, 45%);

// Alerts
$color-alert-background: $color-background;
$color-alert-border: $color-post-date;
$color-alert-content: $color-post-date;

// Base
$color-text: $color-primary;

// Links
$link-underline-thickness: $accent-thickness;
$color-link-text: $color-primary;
$color-link-line: $color-secondary;

// Quotes
$color-quote-text: $color-primary;
$color-quote-border: $color-background-light;

// Code
$color-code: $color-primary;
$color-code-background: $color-background-light;
